* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --paragraph-letter-spacing: 0.05rem;
  --paragraph-font-size: clamp(1.1rem, 2.2vw, 1.3rem);
}

/*================ NAV BAR ================*/
.nav {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: transparent;
}

.nav.scrolled {
  background: linear-gradient(to left, rgb(197, 174, 134), white);
}

.nav ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin: 0 auto;
  gap: 80px;
}

.nav li {
  font-size: 1.2rem;
}

.nav li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav li a.active {
  color: black;
}

.nav button,
.nav label {
  display: none;
}

/*================ HERO================*/
.hero {
  position: relative;
  width: 100%;
  height: 100dvh;
}

video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.22);
}

.hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.svg-icon {
  max-width: 250px;
  height: auto;
}

.hero-content h1 {
  color: white;
  font-size: clamp(2rem, 5vw, 5rem);
}

.hero-content p {
  font-size: clamp(1.1rem, 3vw, 1.5rem);
  max-width: 700px;
  color: white;
  font-weight: 400;
  padding: 20px;
}

.call-button {
  padding: 15px 20px;
  font-size: clamp(1.1rem, 2.2vw, 1.5rem);
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #e8d8c3;
  color: #2f2f2f;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: none;
  text-decoration: none;
}

.call-button:hover {
  background-color: rgba(250, 235, 215, 0.501);
  color: black;
}

/*================ CALM BOXES ================*/
.calm-entry {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 150px 0;
  flex-wrap: wrap;
  gap: 20px;
  background: linear-gradient(to left, rgb(197, 174, 134), white);
}

.calm-box {
  display: flex;
  flex-direction: column;
  padding: 25px 30px;
  border-radius: 50px;
  width: 100%;
  max-width: 300px;
  min-height: 180px;
  box-shadow: 1px 1px 10px 1px #8888887b;
  justify-content: center;
  align-items: center;
}

.calm-entry h2 {
  font-size: clamp(1.3rem, 5vw, 1.6rem);
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  color: #333333d8;
  font-style: italic;
}

.calm-entry p {
  max-width: 100%;
  text-align: center;
  line-height: 1.4;
  font-size: clamp(1rem, 1.2vw, 1.1rem);
  font-weight: 500;
  color: #5e5c58;
  font-style: italic;
}

/*================ MASSAGE BENEFITS ================*/
.benefits-columns {
  display: grid;
  grid-template-columns: 1fr;
  background: linear-gradient(to left, rgb(197, 174, 134), white);
}

.benefits-column,
.benefits-column2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.benefits-column h2,
.benefits-column2 h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 2.2rem;
  color: #000000b4;
  font-weight: 500;
  opacity: 0.9;
}

.text {
  margin: 0 auto;
  max-width: 90%;
}

.text p {
  width: 100%;
  max-width: 600px;
  line-height: 1.6;
  font-size: var(--paragraph-font-size);
  font-weight: 400;
  align-items: center;
}

.benefits-column2 ul {
  font-weight: 300;
  font-size: clamp(1.1rem, 3vw, 1.3rem);
  line-height: 2;
  list-style-type: none;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.text li::before {
  content: "✔️";
  margin-right: 10px;
  font-weight: 100;
  color: green;
}

.benefits-column img,
.benefits-column2 img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/*================ Massage Journeys ================*/
.massage-journeys {
  width: 100%;
  height: 100%;
  position: relative;
}

.journeys {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 10px 20px;
  line-height: 1.5;
  position: relative;
  font-weight: 300;
  padding: 15px;
}

.journeys-wrap {
  background-color: rgba(217, 217, 217, 0.777);
  position: relative;
  width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.journeys h2 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 50px;
  font-weight: 200;
}

.journeys h3 {
  font-weight: 600;
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  font-style: italic;
}

.journeys span {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.journeys p {
  font-size: clamp(1.1rem, 2.2vw, 1.2rem);
  font-weight: 400;
  border-bottom: 2px solid rgba(0, 0, 0, 0.219);
  font-style: italic;
}

.last-journey {
  border-bottom: none !important;
}

.massage-journeys img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  position: absolute;
}

/*================ APPOINTMENT ================*/
.appointment-section {
  display: flex;
  background: linear-gradient(to left, rgb(197, 174, 134), white);
  padding: 100px 0;
}

.appointment {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.appointment h2 {
  font-size: clamp(1.2rem, 6vw, 8rem);
  color: rgba(0, 0, 0, 0.419);
  margin-bottom: 40px;
}

.appointment p {
  font-size: var(--paragraph-font-size);
  max-width: 800px;
  line-height: 1.6;
}

.book-appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.appointment-button {
  padding: 15px 20px;
  font-size: clamp(1.1rem, 2.2vw, 1.5rem);
  border-radius: 20px;
  background-color: #c4a97a;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.appointment-button:hover {
  background-color: rgba(197, 174, 134, 0.646);
}

/*================ ABOUT ================*/
.about {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  background: linear-gradient(to left, rgb(197, 174, 134), white);
  padding: 120px 0;
}

.about h2 {
  font-size: clamp(3rem, 5vw, 7rem);
  font-weight: 500;
  padding: 100px;
  color: #33333385;
}

.about p {
  width: 100%;
  max-width: 800px;
  line-height: 1.6;
  font-size: var(--paragraph-font-size);
  font-weight: 400;
  padding: 20px;
}

/*================ FOOTER ================*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, rgb(197, 174, 134), white);
  padding-top: 80px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: start;
  text-align: center;
  justify-content: center;
  gap: 150px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts h4 {
  font-weight: 500;
  padding-bottom: 5px;
  letter-spacing: 0.05rem;
}

.contacts a {
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
  line-height: 1.8;
  font-weight: 400;
  width: 180px;
  letter-spacing: 0.05rem;
}

.footer-nav h4 {
  letter-spacing: 0.1rem;
  font-weight: 600;
  padding-bottom: 5px;
}

.footer-nav ul {
  list-style-type: none;
}

.footer-nav li {
  line-height: 1.5;
}

.footer-nav li a {
  text-decoration: none;
  font-weight: 400;
  color: #333;
}

.footer a:hover {
  text-decoration: underline;
}

/*================ FOOTER SOCIAL================*/
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.footer-social h4 {
  font-weight: 600;
  padding-bottom: 20px;
}

.fb {
  width: 25px;
  height: 25px;
  fill: #333;
}

.ig {
  width: 25px;
  height: 25px;
  stroke: #333;
}

/*================ FOOTER SIGNATURES================*/
.signatures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
}

.rights-prg {
  font-weight: 300;
  color: #333;
  font-size: 0.8rem;
}

.signature {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.signature p {
  color: rgba(0, 0, 0, 0.504);
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.digiko {
  width: 60px;
  padding-left: 10px;
  margin: 0;
  fill: rgba(0, 0, 0, 0.565);
}

/*================ Rensponsive ================*/
/*================ HUM-MENU & NAV MOBILE ================*/
@media (max-width: 768px) {
  .nav button,
  .nav label {
    display: inline-block;
  }

  .nav {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    background: rgba(21, 21, 21, 0.113);
    padding: 10px;
  }

  .nav button {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 200;
    border: none;
    background: none;
  }

  .nav span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: white;
    border-radius: 3px;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  .nav span:nth-child(1) {
    top: 0;
  }

  .nav span:nth-child(2) {
    top: 8px;
  }

  .nav span:nth-child(3) {
    top: 16px;
  }

  /* ACTIVE BUTTON */
  .menu-button.active span:nth-child(1) {
    top: 8px;
    transform: rotate(45deg);
    background: black;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .menu-button.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-button.active span:nth-child(3) {
    top: 8px;
    transform: rotate(-45deg);
    background: black;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    align-items: flex-start;
    justify-content: flex-start;
    background: linear-gradient(to left, rgb(197, 174, 134), white);
    width: 100%;
    height: 100dvh;
    gap: 15px;
    opacity: 0;
    padding-top: 50px;
    pointer-events: none;
  }

  .nav ul.active {
    opacity: 1;
    pointer-events: auto;
  }

  .nav li a {
    display: flex;
    z-index: 99999;
    color: #333;
    font-size: 3rem;
  }

  /*================ HERO SECTION MOBILE ================*/
  .hero-content svg {
    width: 150px;
    height: 150px;
  }

  /*================ BOXES MOBILE ================*/
  .calm-entry {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
    padding: 80px;
  }

  .calm-box {
    width: 100px;
    max-width: 300px;
    height: 160px;
  }

  .massage-journeys img {
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
  }

  /*================ MASSAGE BENEFITS MOBILE ================*/
  .benefits-column,
  .benefits-column2 {
    display: flex;
    flex-direction: column;
  }

  .benefits-column .text,
  .benefits-column2 .text {
    width: 90%;
    padding: 20px 0 20px 0;
  }

  .text3 {
    padding-bottom: 0 !important;
  }

  .benefits-column img {
    order: 1;
  }

  .benefits-column .text {
    order: 2;
  }

  .massage-journeys img {
    width: 100%;
    height: 100%;
  }

  .calm-box {
    min-width: 320px;
  }

  .benefits-columns p {
    margin-bottom: 30px;
  }

  .li-gap {
    margin-bottom: 30px;
  }

  /*================ APPOINTMENT MOBILE ================*/

  .appointment h2 {
    font-size: 3rem;
    padding-left: 20px;
    margin-right: auto;
    margin-bottom: 0;
    width: 80%;
  }

  .appointment p {
    margin: 0;
    padding: 20px;
  }

  .book-appointment {
    padding: 0;
    margin-top: 40px;
  }

  .book-appointment .butt .appointment:active {
    background-color: rgba(250, 235, 215, 0.501);
  }

  /*================ ABOUT MOBILE ================*/
  .about {
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    margin-top: 0;
  }

  .about h2 {
    margin: 0;
    padding: 0 20px;
  }

  /*================ FOOTER MOBILE ================*/
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0;
  }

  /*================ BOOKINGS MOBILE ================*/
  .contacts {
    margin-top: 40px;
    order: 2;
  }
  .contacts h4 {
    padding-bottom: 10px;
  }
  .contacts a {
    padding-bottom: 5px;
  }

  .site-map {
    margin-top: 40px;
    order: 3;
  }

  .footer-social {
    order: 4;
    margin-top: 40px;
  }

  .signatures {
    order: 5;
    padding-bottom: 20px;
  }
}
