* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*================ HEADER ================*/
.hero {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
}

.svg-icon {
  width: clamp(100px, 10vw, 100px);
  height: auto;
  fill: rgb(181, 165, 123);
}

.svg-icon path {
  fill: rgb(181, 165, 123);
  stroke: white;
}

.hero-content h1 {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: clamp(2.3rem, 2.5vw, 2rem);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  letter-spacing: 0.1em;
}

/*================ CALM BOXES ================*/
.calm-entry {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 80px;
  flex-wrap: wrap;
  gap: 20px;
}

.calm-box {
  border: 3px solid rgb(208, 198, 136);
  padding: 25px;
  border-radius: 80px;
  width: 100%;
  max-width: 350px;
  min-height: 200px;
}

.calm-entry h3 {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-align: center;
  margin-bottom: 20px;
}

.calm-entry p {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  opacity: 0.6;
}

/*================ MASSAGE BENEFITS ================*/
.benefits-columns {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(246, 240, 184, 0.221);
}

.benefits-column,
.benefits-column2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.benefits-column h3,
.benefits-column2 h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  opacity: 0.9;
}

.text {
  margin: 0 auto;
  max-width: 90%;
}

.text p {
  width: 100%;
  max-width: 600px;
  line-height: 1.6;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  align-items: center;
}

.benefits-column2 ul {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 2;
  list-style-type: none;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

li::before {
  content: "✔️";
  margin-right: 10px;
  font-weight: 100;
  color: green;
}

.benefits-column img,
.benefits-column2 img {
  width: 100%;
  max-width: 840px;
  height: 550px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/*================ Massage Journeys ================*/
.massage-journeys {
  width: 100%;
  height: auto;
  position: relative;
}

.journeys {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 10px 20px;
  line-height: 1.5;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 15px;
}

.journeys-wrap {
  background-color: rgba(246, 246, 240, 0.8);
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.journeys h1 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 50px;
  font-weight: 200;
}

.journeys h2 {
  font-weight: 400;
  font-size: 1.2rem;
}

.journeys h3 {
  font-size: 14px;
  font-weight: 400;
}

.journeys p {
  font-size: 1.3rem;
  font-weight: 300;
  border-bottom: 2px solid rgba(0, 0, 0, 0.219);
}

.massage-journeys img {
  width: 100%;
  height: 835px;
  object-fit: cover;
  background-repeat: no-repeat;
  position: absolute;
}

/*================ ABOUT ================*/
.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: rgba(179, 166, 56, 0.221);
}

.about img {
  width: 100%;
  max-width: 700px;
  max-height: 1000px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.about p {
  width: 90%;
  max-width: 700px;
  line-height: 1.6;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin: 50px auto;
  padding: 20px;
}

/*================ ABOUT MOBILE ================*/
@media (max-width: 1000px) {
  .about {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .about p {
    width: 90%;
    margin-left: 20px;
    align-items: center;
    margin: 50px auto;
  }
}

/*================ FOOTER ================*/
.footer {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background-color: rgba(246, 240, 184, 0.221);
  font-family: "Roboto", sans-serif;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 180px;
}

.bookings {
  order: 2;
}

.footer img {
  max-width: 120px;
  margin-bottom: 10px;
}

.footer p {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: #333;
  text-decoration: none;
  max-width: 500px;
  padding-bottom: 15px;
  line-height: 1.5;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.contacts h4 {
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 10px;
}

.contacts a {
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
  line-height: 1.5;
  font-weight: 300;
}
.footer-social p {
  padding-bottom: 15px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-social {
  order: 3;
  align-items: center;
  padding-top: 100px;
}

.footer-social i {
  font-size: 2rem;
  margin: 0 10px;
}

.fb {
  background-color: rgb(66, 103, 178);
  fill: rgb(244, 246, 250);
  border-radius: 80px;
  margin-right: 15px;
}

/*================ Rensponsive ================*/
@media screen and (max-width: 768px) {
  .calm-entry {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
  }

  .calm-box {
    max-width: 300px;
  }

  .massage-journeys img {
    width: 100%;
    height: 745px;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
  }

  /*================ MASSAGE BENEFITS MOBILE ================*/
  .benefits-column,
  .benefits-column2 {
    display: flex;
    flex-direction: column;
  }

  .benefits-column .text,
  .benefits-column2 .text {
    width: 90%;
  }

  .benefits-column img {
    order: 1;
  }

  .benefits-column .text {
    order: 2;
  }

  .massage-journeys img {
    width: 100%;
    height: 100%;
    max-height: 1180px;
  }

  .calm-box {
    min-width: 320px;
  }

  .benefits-columns p {
    margin-bottom: 30px;
  }

  .li-gap {
    margin-bottom: 30px;
  }

  .bookings {
    display: flex;
    flex-direction: column;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  /*================ SOCIAL MOBILE ================*/
  .contacts {
    margin: 10px;
    order: 2;
  }

  /*================ BOOKINGS MOBILE ================*/
  .bookings p {
    align-items: center;
    text-align: center;
    order: 1;
    width: 300px;
  }

  .footer-social {
    order: 3;
  }
}
