* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*================ HEADER ================*/
header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: rgb(254, 254, 254);
  padding: 20px;
  align-items: center;
  align-content: center;
}

.svg-icon {
  display: flex;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  fill: rgb(181, 165, 123);
}

header h1 {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  letter-spacing: 0.3cap;
  padding: 10px 0 20px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  color: rgb(181, 165, 123);
}

/*================ HERO ================*/
.hero {
  position: relative;
  width: 100%;
  height: 600px;
}

.hero video {
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.hero-text {
  width: 100%;
  letter-spacing: 0.3cap;
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  color: rgb(255, 252, 252);
  margin-top: 200px;
  text-shadow: 1px 1px 2px black;
}

/*================ CALM BOXES ================*/
.calm-entry {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 80px;
  flex-wrap: wrap;
  gap: 20px;
}

.calm-box {
  border: 3px solid rgb(208, 198, 136);
  padding: 25px;
  border-radius: 80px;
  width: 100%;
  max-width: 350px;
  min-height: 200px;
}

.calm-entry h3 {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-align: center;
  margin-bottom: 20px;
}

.calm-entry p {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  opacity: 0.6;
}

/*================ MASSAGE BENEFITS ================*/
.benefits-columns {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(246, 240, 184, 0.221);
}

.benefits-column,
.benefits-column2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.benefits-column h3,
.benefits-column2 h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  opacity: 0.9;
}

.text {
  margin: 0 auto;
  max-width: 90%;
}

.text p {
  width: 100%;
  max-width: 600px;
  line-height: 1.6;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  align-items: center;
}

.benefits-column2 ul {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  line-height: 2;
  list-style-type: none;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

li::before {
  content: "✔️";
  margin-right: 10px;
  font-weight: 100;
  color: green;
}

.benefits-column img,
.benefits-column2 img {
  width: 100%;
  max-width: 840px;
  height: 550px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/*================ Massage Journeys ================*/
.massage-journeys {
  width: 100%;
  height: auto;
  position: relative;
}

.massage-journeys img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.journeys {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 10px 20px;
  line-height: 1.5;
  position: relative;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.journeys-wrap {
  background-color: rgba(246, 246, 240, 0.8);
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.journeys h1 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 50px;
  font-weight: 200;
  background-repeat: no-repeat;
}

.journeys h2 {
  font-weight: 400;
  font-size: 1.2rem;
}

.journeys h3 {
  font-size: 14px;
  font-weight: 400;
}

.journeys p {
  font-size: 1.3rem;
  font-weight: 300;
}

.massage-journeys img {
  width: 100%;
  height: 745px;
  object-fit: cover;
  background-repeat: no-repeat;
  position: absolute;
}

/*================ ABOUT ================*/
.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: rgba(179, 166, 56, 0.221);
}

.about img {
  width: 100%;
  max-width: 700px;
  max-height: 1000px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.about p {
  width: 90%;
  max-width: 700px;
  height: 900%;
  line-height: 1.6;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin: 50px auto;
  padding: 20px;
}

/*================ ABOUT MOBILE ================*/
@media (max-width: 1000px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about p {
    width: 90%;
    margin-left: 20px;
    align-items: center;
    margin: 50px auto;
  }
}

/*================ FOOTER ================*/
.footer {
  width: 100%;
  height: auto;
  background-color: rgba(246, 246, 240, 0.8);
}

.bookings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.bookings p {
  width: 100%;
  max-width: 500px;
  line-height: 1.6;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}
.bookings img {
  width: 180px;
  height: auto;
}

/*================ CONTACTS ================*/
.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.6;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.contacts h4 {
  font-weight: 200;
  font-size: 1.8rem;
  letter-spacing: 0.1cap;
}

.contacts p {
  font-weight: 200;
  font-size: 1.2rem;
}

.contacts a {
  text-decoration: none;
}

/*================ Social ================*/
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  margin: 30px auto;
  max-width: 800px;
}

.footer-social p {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  padding-bottom: 10px;
}

/*================ Rensponsive ================*/
@media screen and (max-width: 768px) {
  .calm-entry {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
  }

  .calm-box {
    max-width: 300px;
  }

  .massage-journeys img {
    width: 100%;
    height: 745px;
    object-fit: cover;
    background-repeat: no-repeat;
    position: absolute;
  }

  /*================ MASSAGE BENEFITS MOBILE ================*/
  .benefits-column,
  .benefits-column2 {
    display: flex;
    flex-direction: column;
  }

  .benefits-column .text,
  .benefits-column2 .text {
    width: 90%;
  }

  .benefits-column img {
    order: 1;
  }

  .benefits-column .text {
    order: 2;
  }

  .massage-journeys img {
    width: 100%;
    height: 100%;
    max-height: 1180px;
  }

  .calm-box {
    min-width: 320px;
  }

  .benefits-columns p {
    margin-bottom: 30px;
  }

  .li-gap {
    margin-bottom: 30px;
  }

  .bookings {
    display: flex;
    flex-direction: column;
  }

  /*================ SOCIAL MOBILE ================*/
  .contacts {
    margin: 30px;
  }

  /*================ BOOKINGS MOBILE ================*/
  .bookings p {
    align-items: center;
    text-align: center;
    width: 90%;
  }
}
